*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Press Start 2P", system-ui;
}

header{
    height: 16vh;
    background:linear-gradient( 120deg, #5D04D9 20%, #03318C 100%)  ;
    display: flex;
    justify-content: center;
    align-items: center;
}
img.logo{
    width:30% ;
    height: 42%;
    
}
/* fecha header */

/* Sessão */
h3{
    font-size: 20px;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
   
}
section{
    height: 100vh;
    display: flex;
        
}
div.vitrini{
    width: 56%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

div.titulo{
    width: 71%;
    height: 11%;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.bloco1{
    width: 86%;
    height: 28%;
    gap: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
}
img.cabeca{
    width: 21%;
    height: 87%;
}
img.cabeca:hover{
    cursor: pointer;
    box-shadow: 0 0 15px #5D04D9;
}
img.skil{
    width: 21%;
    height: 85%;
    
 }
 img.skil:hover{
    cursor: pointer;
    box-shadow: 0 0 15px #5D04D9;
 }
 img.skrol{
    height: 81%;
    margin-left: 10%; 
}
 /* fecha bloco 1 */

 div.bloco2{
    width: 71%;
    height: 28%;
    gap: 4%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    

}
img.skil2{
    width: 25%;
    height: 88%;
}
img.skil2:hover{
    cursor: pointer;
    box-shadow: 0 0 15px #5D04D9;
}
img.cabeca2{
    width: 25%;
    height: 88%;
}
img.cabeca2:hover{
    cursor: pointer;
    box-shadow: 0 0 15px #5D04D9;
}
/* fecha bloco 2 */

div.bloco3{
    width: 72%;
    height: 29%;
    gap: 4%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}
img.cabeca3{
    width: 25%;
    height: 90%;  

}
img.cabeca3:hover{
    cursor: pointer;
    box-shadow: 0 0 15px #5D04D9;
}
img.skil3{
    width: 25%;
    height: 89%;
}
img.skil3:hover{
    cursor: pointer;
    box-shadow: 0 0 15px #5D04D9;
}


/*------------ fecha bloco 3 */

 

/* ------------------formulario-------- */
div.formulario{
    width: 53%;
    height: 68%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
}
form.form{
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: column;
    gap: 5%;
    justify-content: center;
    border: #03318C solid;
}
/* ------ paragrafo-------- */

div.formulario h3{
    height: 20%;
    display: flex;
    align-items: center;
}
/* --------input------ */



input#username{
    border:#03318C solid ;
    border-radius: 50px;
    height: 12%;
    cursor: pointer;
}
input#valor{
    border:#03318C solid ;
    border-radius: 50px;
    height: 12%;
    cursor: pointer;

}
input#image{
    border:#03318C solid ;
    border-radius: 50px;
    height: 12%;

}
::placeholder{
    font-size: 10px;
    text-align: center;
}
/* ----label---imagem--- */

label.picture{
    display: flex;
    align-items: center;
    justify-content: center;
    border: #03318C solid;
    height: 13%;
    border-radius: 50px;
    cursor: pointer;
    transition: color 300ms ease-in-out, background 300ms 
    ease-in-out;
    outline: none;
    
}
.picture:hover{
    color: #5D04D9;
    background-color: #5D04D9;
}
.picture:active{
    color: #7a757a;
    background: #03318C;
}
.picture:focus{
    color: #7a757a;
    background: #03318C;
    box-shadow: 0 0 10px #5D04D9;
}
span.picture__image{
    font-size: 10px;
    color:#7a757a;
}
#picture__input{
    display: none;
}
/* ----input enviar--- */
div.btn-enviar{
    display: flex;
    justify-content: space-evenly;
    border-radius: 50px;
    
}
input.enviar{
    background-color: #03318C;
    color: #fffeff;
    font-size: 11px;
    border-radius: 5px;
    border: none;
    height: 6vh;
    width: 25%;

}
input.enviar:hover{
    cursor: pointer;
}
/* ------input limpar---- */
div.btn-limpar{
    width: 24%;
    display: flex;
    justify-content: space-evenly;
    border-radius: 5px;    

}
input.reset{
    background-color: transparent ;
    color: #03318C;
    border: #03318C solid 2px;
    font-size: 11px;
    border-radius: 5px;
    height: 6vh;
    width: 100%;

}
input.reset:hover{
    cursor: pointer;
}
/* ---- footer---- */
footer{
    
    background-color: #5D04D9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div.logo-footer{
    width: 40%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
      
   

}
.imagemFooter{
    height: 33%;

}
p.paragrafoFooter,.subParagrafo{
    text-align: center;
    color: aliceblue;
    font-size: 10px;
}
@media screen and (max-width:430px) {
    header{
        width: 100%;
    }
    /* main{
        display: flex;
        flex-direction: column;
    } */
    section{
        width: 100%;
        height: 50%;
        flex-direction: column-reverse;
    }
    img.imagemFormulario{
        width: 55%;
        height: 20%;
       
    }
    div.vitrini{
        width: 100%;
        margin-top: 19px;
    }
    div.titulo {
        width: 100%;
        height: 20%;
        display: flex;
        justify-content: center;
        font-size: 10px;
    }
    .titulo h3{
        font-size: 13px;
        
    }
    div.imagemBoneco1{
        width: 100%;
        height: 36vh;
        
    }
    img.cabeca{
        width: 22%;
        height: 86%;
    }
    img.skil{
        width: 23%;
    }
    img.skil2{
        width: 26%;
    }
    div.formulario{
        width: 100%;
        height: 40%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    div.imagemBoneco2{
        width: 86%;
        height: 36vh;
    }
    img.cabeca2{
        width: 25%;
    }
    img.cabeca3{
        width: 27%;
    }
    img.skil3{
        width: 25%;
    }
    div.imagemBoneco3{
        width: 86%;
        height: 36vh;
    }
    .imagemFooter{
        width: 74%;
    }
    p.paragrafoFooter{
        width: 104%;
        font-size: 8px;
    }
    .subParagrafo{
        font-size: 8px;
    }
    
    
    
}
@media screen and (max-width:768px){
    section{
        border: solid greenyellow;
        flex-direction: column;
    }
}