*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Press Start 2P", system-ui;
}
header{
    height: 16vh;
    background:linear-gradient( 120deg, #5D04D9 20%, #03318C 100%)  ;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* fecha Cabeçalho */

section{
    display: flex;
    justify-content: center;
    
    
}
.container {
    width: 50%;
    height: 100%;
    padding: 15px 15px 10px;
    text-align: center;
    box-shadow: 0 0 15px #5D04D9;

}
h1{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 11%;
    /* font-weight: 400;
    font-style: normal; */
    
}
div.produto p{
    font-size: 15px;
    margin: 10px;

}
.cards {
    height: 97%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
} 
.imagem_card {
    width: 60%;
    
    
}
img.imagem_card:hover{
    cursor: pointer;
    box-shadow: 0 0 15px #5D04D9;
}
div.produto{
    padding: 13px 9px;
    cursor: pointer;
}
/* fechando vitrini */

/* Estilizando formulário */
#formulario {
    margin-top: 40px;
    height: 68%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 15px #5D04D9;

}
h2{
    font-size: 19px;
    margin: 14px;
}
#formProduto{
    width: 60%;
    height: 50vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border: #03318C solid 2px;
    border-radius: 5px;
    box-shadow: 0 0 15px #9b75d1;

}
label{
    display: flex;
    align-items: center;
    height: 13%;
    border-radius: 50px;
    cursor: pointer;
    /* transition: color 300ms ease-in-out background 300ms
    ease-in-out;
    outline: none; */
}
input#image{
    font-size: 10px; 
    display: none;
   
}
#preview {
    max-width: 200px;
    max-height: 200px;
    margin-bottom: 10px;
}


div.btn{
    display: flex;
    justify-content: space-around;
   margin: 10px;
   padding: 10px;
}
/* button-guardar */

button#guardarProduto.guardar{
    background-color: #03318C;
    color: #fffeff;
    font-size: 11px;
    border-radius: 5px;
    border: none;
    height: 6vh;
    margin: 10px;
    padding: 10px;
    /* width: 100%; */
}
.guardar:hover{
    cursor: pointer;
}
button:hover{
    cursor: pointer;
}

/* button-limpar */
#limpar.reset{
    background-color: transparent ;
    color: #03318C;
    border: #03318C solid 2px;
    font-size: 11px;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    height: 6vh;
    width: 100%;
}
.reset:hover{
    cursor: pointer;
}
input#productImagem{
    font-size: 10px;
}
.hidden {
    display: none;
}

input#nome{
    width: 62%;
    border:#03318C solid ;
    border-radius: 50px;
    height: 12%;
    cursor: pointer;
}
input#valor{
    width: 62%;
    border:#03318C solid ;
    border-radius: 50px;
    height: 12%;
    cursor: pointer;

}
input#imagem{
    width: 62%;
    border:#03318C solid ;
    border-radius: 50px;
    height: 12%;

}
::placeholder{
    font-size: 8px;
    text-align: center;
}

/* Fecha Main */

footer{
    
    background-color: #5D04D9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div.logo-footer{
    width: 40%;
    height: 14vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
      
   

}
img.imagemFooter{
    width: 27%;
    height: 4vh;

}
p.paragrafoFooter,.subParagrafo{
    padding: 6px 10px;
    text-align: center;
    color: aliceblue;
    font-size: 10px;
}
/* fecha footer */